{% extends "full_canvas_base.html" %}

{% block header_includes %}
  {% if config.DEBUG %}
    <script src="{{ url_for("static", filename="js/three/three.js") }}"></script>
    <script src="{{ url_for("static", filename="js/three/OBJLoader.js") }}"></script>
    <script src="{{ url_for("static", filename="js/client.js") }}"></script>
    <script src="{{ url_for("static", filename="js/index.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}" />
  {% else %}
    <script src="{{ url_for("static", filename="js/index.min.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.min.css") }}" />
  {% endif %}
{% endblock header_includes %}

{% block overlay_body %}
  <button id="center-btn">Pause Rotation</button>
{% endblock overlay_body %}
